!!!
%html.no-js{:lang => "en"}
	%head
		%meta{ :charset => "utf-8" }
		%meta{ :content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }
		%link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }
		%title= "WeatherMan: " + (yield :title)
		%meta{ :content => "A Better NOAA Weather API", :name => "description" }
		%meta{ :content => "jessecurry", :name => "author" }
		%meta{ :content => "width=device-width,initial-scale=1", :name => "viewport" }
		= javascript_include_tag :defaults
	%body
		#container
			%section
				%header
					= render :partial => 'layouts/header'
			#main{ :role => "main" }= yield
			.clearfix
			#btm
			%footer{:id => 'btm'}
				= render :partial => 'layouts/footer'
			%section
				= render :partial => 'layouts/notices'
